<div class="container-fluid ">
    <div class="row">
        <div class="col-12" id="txt1">
            <h1 class="text-center mt-5 font-weight-bold" style="color: #132639;">CONSULTAR VALORES</h1>
        </div>
    </div>
    <form >
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4 mt-5"id="form">
            <div class="form-group">
                <label for="Origem">Origem</label>
                <input type="text" class="form-control" id="Origem" aria-describedby="Origem">
            </div>
            <div class="form-group">
                <label for="Origem">Destino</label>
                <input type="text" class="form-control" id="Destino" aria-describedby="Destino">
            </div>
            <div class="form-group">
                <label for="Origem">Data de Partida</label>
                <input type="date" class="form-control" id="DataPartida" aria-describedby="DataPartida">
            </div>
            <div class="form-group">
                <label for="Origem">Data de Volta</label>
                <input type="date" class="form-control" id="DataVolta" aria-describedby="DataVolta">
            </div>
            <button type="submit" class="btn btn-primary" id="btConsultar">Consultar</button>
        </div>
    </form>
</div>