<div class="container-fluid" style="height: 580px; background-color:  #009970">
    <div class="row ">
        <div class="col-12 mt-5">
            <img class="mx-auto d-block" src="../../assets/img/nave.png"  style="width: ; height:300px;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center mt-4">
            <p class=" display-4 font-weight-bold text-white" style="font-size: 55px;">AS MELHORES NAVES!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="text-white">Preços especiais para os planetas da federação galática. Visite ainda universos, dimensões e realidades alternativas!</p>
        </div>
    </div>
</div>
